@use '../variables/variables.scss' as *;

.header {
  display: flex;
  position: fixed;
  min-width: 100dvw;
  z-index: 99;
  font-size: 1.5rem;
  background-color: $clr_Primary-900;
  @media (min-width: 615px) {
    position: static;
    flex-direction: row;
    font-size: 1rem;
    z-index: 0;
  }
  .logo {
    min-width: 10%;
    margin-right: auto;
    // @media (min-width: 535px) {
    //   max-width: 20%;
    // }
  }
  .menu_button {
    display: block;
    border: none;
    padding: 2rem;
    background-color: transparent;
    .menu_icon {
      max-width: 70%;
      margin-left: auto;
    }
    @media (min-width: 615px) {
      display: none;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    z-index: 10;
    background-color: $clr_Secondary-900;
    width: 80dvw;
    height: 100dvh;
    padding: 1rem;
    font-weight: 500;
    @media (min-width: 615px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      position: static;
      width: 100dvw;
      height: auto;
    }
    .nav_menu {
      padding: 0;
      @media (min-width: 615px) {
        display: flex;
        gap: calc(0.5rem + 0.1rem);
      }
      .nav_list {
        list-style: none;
        color: $clr_neutral-900;
      }
    }
    .nav_buttons {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @media (min-width: 615px) {
        flex-direction: row;
      }
      .nav_login,
      .nav_register {
        color: $clr_neutral-900;
        background-color: $clr_Primary-900;
        border: none;
        border-radius: 1rem;
        padding: 0.5rem;
      }
    }
  }
  .open {
    top: 10rem;
    right: 0;
  }
  .close {
    top: 10rem;
    right: -100rem;
  }
}
