@use '../variables/variables.scss' as *;

.main {
  position: relative;
}

.hero {
  position: relative;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../../../images/image_AxisStore-Outside.jpg');
    background-size: cover;
    filter: blur(0.1rem);
  }

  .hero_title {
    line-height: 3rem;
    font-size: 3rem;
    color: $clr_neutral-900;
    text-shadow: 2px 2px 5px black;
  }

  .hero_paragraph {
    color: $clr_neutral-900;
    text-shadow: 2px 2px 5px black;
  }
}

.hero_image {
  position: absolute;
  left: 5rem;
  bottom: 2rem;
  z-index: 2;
  width: 50%;
}
