@use '../variables/variables.scss' as *;

.main {
  position: relative;
}

.hero {
  position: relative;
  padding: calc(10rem + 3rem) 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  overflow: hidden;
  .hero_description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @media (min-width: 615px) {
    padding: 3rem;
  }
  @media (min-width: 900px) {
    flex-direction: row;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../../../images/image_AxisStore-Outside.jpg');
    background-size: cover;
    filter: blur(0.1rem);
  }

  .hero_title {
    min-width: 19rem;
    line-height: 3rem;
    font-size: calc(3rem + 1dvw);
    color: $clr_neutral-900;
    text-shadow: 2px 2px 5px black;
  }

  .hero_paragraph {
    max-width: 19rem;
    color: $clr_neutral-900;
    text-shadow: 2px 2px 5px black;
  }

  .hero_video {
    border: 5px solid $clr_Primary-900;
    outline: 5px solid $clr_Secondary-900;
    border-radius: 1rem;
    @media (min-width: 900px) {
      min-width: 10rem;
    }
  }
}

.hero_image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 35%;
  @media (min-width: 535px) {
    top: 28%;
    max-width: 30%;
  }
  @media (min-width: 615px) {
    top: 20%;
  }
  @media (min-width: 900px) {
    top: 8%;
    left: 60%;
    max-width: 20%;
  }
}
