@use '../variables/variables.scss' as *;

.quote {
  margin: -0.3rem;
  padding: 2rem;
  background-color: $clr_neutral-100;
  color: $clr_neutral-900;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  .quote_photos {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
