.sponsor {
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  @media (min-width: 900px) {
    overflow-x: initial;
  }
  .sponsor_icon {
    max-width: 20%;
    @media (min-width: 900px) {
      max-width: 10%;
    }
  }
}
