$clr_Primary-900: hsl(174, 100%, 29%);
$clr_Primary-800: hsl(174, 100%, 17%);
$clr_Secondary-900: hsl(22, 62%, 52%);
$clr_Tertiary-600: hsl(354, 100%, 29%);

$clr_neutral-900: hsl(0, 0%, 100%);
$clr_neutral-800: hsl(0, 0%, 90%);
$clr_neutral-700: hsl(0, 0%, 80%);
$clr_neutral-600: hsl(0, 0%, 50%);
$clr_neutral-400: hsl(0, 0%, 30%);
$clr_neutral-100: hsl(0, 0%, 0%);

$clr_neutral-Hover: hsl(354, 100%, 49%);
$clr_Primary-Active: hsl(174, 100%, 50%);

$clr_button_default: hsl(174, 100%, 29%);
$clr_button_hover: hsl(22, 62%, 52%);
$clr_button_active: hsl(354, 100%, 29%);
